<%= form_for(survivor) do |f| %>
  <% if survivor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survivor.errors.count, "error") %> prohibited this survivor from being saved:</h2>

      <ul>
      <% @survivor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :age %>
    <%= f.number_field :age %>
  </div>

  <div class="field">
    <%= f.label :gender %>
    <%= f.text_field :gender %>
  </div>

  <div class="field">
    <%= f.label :infected %>
    <%= f.check_box :infected %>
  </div>


<h2>items</h2>

 <%= f.fields_for :items do |room_category| %>


 <div class="field">

 <%= room_category.label :name %><br>

 <%= room_category.text_field :name %>

 </div>


 <div class="field">

 <%= room_category.label :quant %><br>

 <%= room_category.text_field :quant %>

 </div>

<%= room_category.check_box :_destroy %>
<%= room_category.label :_destroy, 'remove' %>

<% end %>

<h2>Location</h2>

 <%= f.fields_for :location do |l| %>


 <div class="field">

 <%= l.label :latitude %><br>

 <%= l.text_field :latitude %>

 </div>

<div class="field">

 <%= l.label :longitude %><br>

 <%= l.text_field :longitude %>

 </div>

<%= l.check_box :_destroy %>
<%= l.label :_destroy, 'remove' %>


<% end %>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



 

