<p id="notice"><%= notice %></p>

<h1>Survivors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Infected</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>itens</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @survivors.each do |survivor| %>
      <tr>
        <td><%= survivor.name %></td>
        <td><%= survivor.age %></td>
        <td><%= survivor.gender %></td>
        <td><%= survivor.infected %></td>
        <td><%= survivor.location.latitude%></td>
        <td><%= survivor.location.longitude%></td>

        

          <% survivor.items.each do |x| %>
            <td> <%=  x.name%></td>
            <td> <%=  x.quant%></td>

            <% end %>


        <td><%= link_to 'Show', survivor %></td>
        <td><%= link_to 'Edit', edit_survivor_path(survivor) %></td>
        <td><%= link_to 'Destroy', survivor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Survivor', new_survivor_path %>
