<h2>Reports</h2>


	<h3>Percentage of infected survivors :</h3> 	<%= @survivors_i%> <p>

	<h3>Percentage of non-infected survivors :</h3>  <%= @survivors_ni %> <p>

	<h3>Average amount of each kind of resource by survivor:</h3>
	<%=@water %> water for survivor<p>
	<%=@food%> food for survivor<p>
	<%=@medication%> medication for survivor<p>
	<%=@ammunition%> ammunition for survivor<p>




	

