<%= simple_form_for :sees do |f| %>

<h2>First Survivor</h2>

<%= f.simple_fields_for :survivor do |v| %>
<%= render 'survivor_fields', :f => v %>
<% end %>


<br>

<h2>Items</h2>

<%= f.simple_fields_for :sees do |v| %>
<%= render 'item_fields', :f => v %>
<% end %>

<%= f.simple_fields_for :quant do |v| %>
<%= render 'quant_field', :f => v %>
<% end %>

<br>

<h2>Second Survivor</h2>

<%= f.simple_fields_for :survivor do |v| %>
<%= render 'survivor_fields', :f => v %>
<% end %>

<br>

<h2>Items</h2>

<%= f.simple_fields_for :sees do |v| %>
<%= render 'item_fields', :f => v %>
<% end %>

<%= f.simple_fields_for :quant do |v| %>
<%= render 'quant_field', :f => v %>
<% end %>


<%= f.button :submit %>

<% end %>	