<%= simple_form_for(@trade) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  
    <%= f.input :name_survivor_1 %>
    <%= f.input :item_survivor_1 %>
    <%= f.input :quantidade_survivor_1 %>

    <%= f.input :name_survivor_2 %>
    <%= f.input :item_survivor_2 %>
    <%= f.input :quantidade_survivor_2 %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
