<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trade.name_survivor_1 %>
</p>

<p>
  <strong>Item:</strong>
  <%= @trade.item_survivor_1 %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @trade.quantidade_survivor_1 %>
</p>

<p>
  <strong>Name:</strong>
  <%= @trade.name_survivor_2 %>
</p>

<p>
  <strong>Item:</strong>
  <%= @trade.item_survivor_2 %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @trade.quantidade_survivor_2 %>
</p>


<%= link_to 'Back', trades_path %>
