<!DOCTYPE html>
<html>
  <head>
    <title>Zssn</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>    
  </head>

  <body>

    <div class="container">

      <div class="row">
        <nav>
          <div class="nav-wrapper">

            <div class="col s12"><%= link_to 'Zssn', root_path ,:class =>"brand-logo center"%></div>
              
          </div>
        </nav>
        <p>

        <div class="col s6"> <%= yield %></div>

      </div>

      <footer class="page-footer">

          <div class="footer-copyright">
            <div class="container">
            © 2017 Copyright Text
            </div>
          </div>
      </footer>

    </div>

  </body>

</html>
